<footer class="footer">
  <div>
    <img src="../../../assets/Logo-branco-jornada-milhas.png" alt="">
    <p>Horário de atendimento: 08h - 20h (Segunda a Sábado)</p>
    <p>Desenvolvido por Alura. Projeto fictício sem fins comerciais.</p>
  </div>
  <div>
    Acesse nossas redes:
    <div class="icons-socialmedia">
      <img src="../../../assets/Whatsapp.png" alt="">
      <img src="../../../assets/Instragam.png" alt="">
      <img src="../../../assets/Twiter.png" alt="">
    </div>
  </div>
</footer>
