.header {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 1rem  4rem;
}
.links-header{
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}
