<form class="form">
  <h2>Busca</h2>
  <div class="inputs">
    <div class="d-flex">
      <div aria-label="idaevolta">
        <button selected>Somente ida</button>
        <button>Ida e volta</button>
      </div>
      <button mat-stroked-button color="primary" extended>
        1 adulto, econômica
        <mat-icon matSuffix>expand_more</mat-icon>
      </button>
    </div>
  </div>
  <div class="d-flex">
    <div>
      <div>
        <label>Origem</label>
        <input matInput type="text">
      </div>
      <mat-icon>sync_alt</mat-icon>
      <div>
        <label>Destino</label>
        <input matInput type="text">
      </div>
    </div>
    <div>
      <div>
        <label>Data de ida</label>
        <input matInput type="date">
      </div>
      <div>
        <label>Data de volta</label>
        <input matInput type="date">
      </div>
    </div>

  </div>
  <app-button class="" buttonText="Nova busca" buttonType="btn-primary"></app-button>
</form>
