.form {
  background: #f5f5f5;
  max-width: 80%;
  padding: 1rem 2rem;
  border-radius: 2rem;
  border: none;
  margin: 1rem auto;
}

.idaevolta {
  border-radius: 1.5rem;
  width: fit-content;
  margin: 1rem 0;
}

.idaevolta button {
  padding: 0.8rem 1rem;
  border: none;
}

.idaevolta button:nth-child(1) {
  border: 1px solid black;
  border-radius: 1.5rem 0 0 1.5rem;
}

.idaevolta button:nth-child(2) {
  border-radius: 0 1.5rem 1.5rem 0;
  border: 1px solid black;
  border-left: none;
}

.d-flex {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.d-flex-jc-center {
  display: flex;
  justify-content: center;
}

.pl-1 {
  margin-left: 1rem;
}

.btn-direction {
  background-color: #6750a4;
}
.border-radius-custom {
  border-radius: 2rem;
}
.mat-button-toggle-checked {
  background-color: #e8def8;
}
.inputs {
  margin-bottom: 1rem;
}
