<form class="form">
  <h2>Busca</h2>
  <div class="inputs">
    <div class="d-flex">
      <mat-chip-listbox aria-label="idaevolta">
        <mat-chip-option selected>Somente ida</mat-chip-option>
        <mat-chip-option>Ida e volta</mat-chip-option>
      </mat-chip-listbox>
      <button mat-stroked-button color="primary" extended>
        1 adulto, econômica
        <mat-icon matSuffix>expand_more</mat-icon>
      </button>
    </div>
  </div>
  <div class="d-flex">
    <div>
      <mat-form-field>
        <mat-label>Origem</mat-label>
        <input matInput type="text">
      </mat-form-field>
      <mat-icon>sync_alt</mat-icon>
      <mat-form-field>
        <mat-label>Destino</mat-label>
        <input matInput type="text">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Data de ida</mat-label>
        <input matInput type="date">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Data de volta</mat-label>
        <input matInput type="date">
      </mat-form-field>
    </div>

  </div>
  <app-button class="" buttonText="Nova busca" buttonType="btn-primary"></app-button>
</form>
