/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@material/button/";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
  padding: 1rem 2rem;
  margin: 1rem auto;
  max-width: 80%;
}
